body{
    font-family: 'Poppins', sans-serif;
    background-color: #0090FF;
}

:root {
    --pr-color : #FFFB00;
    --sc-color : #0090FF;
    --trhd-color : #ffff;
    --four-color : #005799;
}

/* Navbar */

#hero {
    min-height: 100vh;
    background: linear-gradient(to bottom, #0090FF, #005799);
    display: flex;
    align-items: center;
    justify-content: center;
  }
.navbar-brand {
    font-size: 18px;
    font-weight: 700;
}

.nav-link.active {
    font-size: 18px;
    font-weight: 600;
}
  
.navbar .nav-link.active {
    color: #FFFB00;
  }

.navbar {
  background-color: #0090FF;
}

.btn-warning {
    color: var(--sc-color);
    background-color: #ffff;
    border: none;
    border-radius: 10px;
    outline: 0;
    font-weight: 600;
    font-size: 18px;
    height: 40px;
    display: flex;
    margin-left: 300px; /* Dorong ke kanan */
    list-style: none;
}

.btn-warning:hover {
  background-color: var(--pr-color);
  color: var(--sc-color);
}

/* Potensi */
#potensi {
  min-height: 100vh;
  position: relative;
  background: linear-gradient(to bottom, #0090FF, #005799);
  display: flex;
  align-items: center;
  position: relative;
  justify-content: center;
  overflow: hidden;
}

.potensi-tagline h1 {
    position: relative;
    z-index: 100;
    font-size: 154px;
    color: var(--pr-color);
    line-height: 1;
    font-style: italic;
    font-family: 'Rouge Script';
  }

.potensi-tagline h2 {
    position: relative;
    z-index: 100;
    font-size: 154px;
    color: #ffff;
    line-height: 1;
    font-style: italic;
    font-family: 'Rouge Script';
}

.potensi-tagline img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
  opacity: 80%;
}

/* tambang */
#tambang {
  min-height: 100vh;
  position: relative;
  background: linear-gradient(to bottom, #0090FF, #005799);
  display: flex;
  align-items: center;
  position: relative;
  justify-content: center;
  overflow: hidden;
}

.tambang1 h1 {
    font-family: 'Rouge Script';
    color: var(--pr-color);
    font-weight: 700;
    font-size: 64px;
    text-align: left;
    padding: 10px;
}

.tambang1 p {
    color: #ffff;
    text-align: left;
    padding: 20px;
}

.tambang1 img {
    position: absolute;
    left: 130px;
    width: 300px;
    height: auto;
}

.tambang2 img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
  opacity: 80%;
}

/* Sumber daya hutan */
#hutan {
  min-height: 100vh;
  position: relative;
  background: linear-gradient(to bottom, #0090FF, #005799);
  display: flex;
  align-items: center;
  position: relative;
  justify-content: center;
  overflow: hidden;
}

.hutan-tagline h1 {
    position: relative;
    z-index: 100;
    font-size: 64px;
    color: var(--pr-color);
    line-height: 1;
    padding: 20px;
    z-index: 1;
    font-style: italic;
    font-family: 'Rouge Script';
  }

.hutan-tagline p {
    position: relative;
    color: #ffff;
    font-size: 12px;
    max-width: 70%;
    z-index: 2;
    margin: auto;
}

.hutan-tagline img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
  opacity: 80%;
}

.hutan-tagline .headertambang {
  position: relative;
  top: 0px;
  right: 0px;
  padding: 50px;
  width: 350px; 
  height: auto;
  z-index: 100;
}

/* Kelautan */
#kelautan {
  min-height: 100vh;
  position: relative;
  background: linear-gradient(to bottom, #0090FF, #005799);
  display: flex;
  align-items: center;
  position: relative;
  justify-content: center;
  overflow: hidden;
}

.kelautan2 h1 {
    font-family: 'Rouge Script';
    color: var(--pr-color);
    font-weight: 700;
    font-size: 44px;
    max-width: 100%;
    text-align: left;
    padding: 10px;
}

.kelautan2 p {
    color: #ffff;
    text-align: left;
    padding: 20px;
}

.kelautan2 img {
    position: absolute;
    right: 430px;
    width: 300px;
    height: auto;
}

.kelautan1 img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
  opacity: 80%;
}

/* Penutup */

#penutup-potensi {
    min-height: 100vh;
    background: linear-gradient(to bottom, #0090FF, #005799);
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }

.potensi2-tagline h1 {
  font-family: 'Rouge Script';
  font-size: 124px;
  font-weight: 500;
  color: var(--pr-color);
  max-width: 100%;
  margin: auto;
  text-align: center;
}

.potensi2-tagline p {
  font-size: 12px;
  font-weight:500;
  color: #FFF;
  max-width: 80%;
  margin: auto;
  padding: 30px;
  text-align: center;
}

.potensi2-tagline .logobesar {
  position: absolute;
  bottom: 90px;
  left: 50%;
  transform: translateX(-50%);
  padding: 50;
  width: 250px;
  height: auto;
  z-index: 100;
}

/* Footer */
#footer {
  min-height: 100vh;
  position: relative;
  background: #000;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-tagline h1 {
  color: #FFF;
  font-size: 54px;
  max-width: 50%;
  font-weight: 700;
  padding-top: 90px;
  padding-left: 50px;
}

.footer-tagline .logoatasbesar {
  position: absolute;
  top: 50px;
  left: 0;
  padding: 50px;
  width: 400px; 
  height: auto;
  z-index: 100;
}

.footer-tagline .hp {
  padding-top: 50px;
  padding-left: 50px;
  font-size: 18px;
}

.hp a{
  color: #FFF;
    padding-left: 5%;
  font-weight: 500;
  text-decoration: none;
}

.footer-tagline .email {
  padding-top: 0px;
  padding-left: 50px;
  font-size: 18px;
}

.email a{
  color: #FFF;
    padding-left: 5%;
  font-weight: 500;
  text-decoration: none;
}

.footer-tagline .alamat {
  padding-top: 0px;
  padding-left: 50px;
  font-size: 18px;
  gap: 12px;
  align-items: flex-start;
  max-width: 600;
}

.alamat a{
  color: #FFF;
  padding-left: 5%;
  font-weight: 500;
  text-decoration: none;
}

.footer-tagline h2 {
  font-weight: 600;
  color: #FFF;
  padding: 20px;
  text-align: center;
}

.footer-tagline .pohon1 {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 0px;
  width: 100px; 
  height: auto;
  z-index: 1000;
}

.footer-tagline .pohon2 {
  position: absolute;
  top: 0px;
  right: 0;
  padding: 0px;
  width: 150px; 
  height: auto;
  z-index: 100;
}

.car-kontak {
  max-width: 600px;
  margin: 0 auto; /* agar rata tengah */
  padding: 20px;
}

.form-control {
  font-size: 16px;
  height: 50px;
  padding: 10px 15px;
  border-radius: 8px;
  width: 100%;
  max-width: 700px; /* atau ukuran sesuai desain */
  box-sizing: border-box;
}

.button-kontak {
  font-size: 16px;
  font-weight: 700;
  background-color: var(--pr-color);
  margin: auto;
  height: 50px;
  padding: 10px 15px;
  border-radius: 8px;
  width: 100%;
  max-width: 700px; /* atau ukuran sesuai desain */
  box-sizing: border-box;
}

.button-kontak:hover {
  background-color: greenyellow;
  color: #000;
}